* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    width: 85%;
    margin: 0px auto;
}

/* same releted style */
.Primay-color {
    color: #FF5400;
}

.primary-text {
    color: #FFFFFF;
    text-align: center;
    padding: 0px 240px;
}

.primary-text-1 {
    color: rgba(19, 19, 24, 0.70);
    ;
    padding: 24px 0;
    text-align: left;
}

.primary-text-2 {
    color: rgba(19, 19, 24, 0.70);
    padding: 15px 0px;
    margin-left: 15px;
    text-align: left;
}

.button-Primary {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 16px;
    color: #FFFFFF;
    font-weight: 700;
}

.tour-continer-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* Nav releted style */
.nav-container {
    display: flex;
    margin-top: 50px;
}

.nav-section {
    display: flex;
    align-items: center;
    width: 50%;
    color: #131318;
    font-weight: 800;
    font-size: 30px;
}

.nav-container img {
    width: 48px;
    height: 50px;
    margin-right: 8px;
}

.login-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.login-section a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #424247;
}

/* Nav releted end */
/* banner releted style */
.banner-container {
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
}

.banner-image h3 {
    color: #ffff;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding: 150px 250px 24px 250px;
}

.servics-item {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    height: 70px;
    text-align: center;
    margin: 50px 215px;
}

.service {
    padding: 16px;
    border-radius: 8px;
    border: 0;
    text-align: left;
    margin: 10px 16px 10px 16px;
}

/* banner releted style end */
/* tour releted style */
.tour-container {
    display: flex;
    margin-top: 100px;
    gap: 20px;
}

.tour-image imag {
    border-radius: 16px;
    width: 100%;
}

/* tour releted end */
/* Our service country releted style */
.our-service-title h3 {
    text-align: center;
    margin-top: 100px;
}

.our-service-title p {
    text-align: center;
    padding: 24px 0px 48px 0px;
    margin: 0px 300px 0px 300px;
}

.our-servics-country {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.our-servics-country img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.grid-image1 {
    grid-column: 1/span 6;
    position: relative;
}

.grid-image2 {
    grid-column: 7/span 6;
    position: relative;
}

.grid-image3 {
    grid-column: 1/span 3;
    position: relative;
}

.grid-image4 {
    grid-column: 4/span 6;
    position: relative;
}

.grid-image5 {
    grid-column: 10/span 3;
    position: relative;
}

.grid-image6 {
    grid-column: 1/span 4;
    position: relative;
}

.grid-image7 {
    grid-column: 5/span 8;
    position: relative;
}

.country-name {
    position: absolute;
    left: 38.50%;
    bottom: 42.50%;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
}
/* Our service country releted end */